{% extends 'base.html' %}

{% block content %}
  <h1>{% if product %}Update Product{% else %}Create Product{% endif %}</h1>

  <!-- Display the form for creating or updating the product -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    { form.as_p }
    
    <!-- Form Fields -->
    <label for="name">Product Name:</label>
    <input type="text" name="name" value="{{ product.name|default_if_none:'' }}" required>

    <label for="image">Product Image:</label>
    <input type="file" name="image">

    <button type="submit">{% if product %}Update{% else %}Create{% endif %}</button>
</form>

  <!-- Back link to dashboard -->
  <br><br>
  <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>

  {% if product %}
    <!-- Option to delete the product if updating -->
    <form action="{% url 'product_delete' pk=product.pk %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete Product</button>
    </form>
  {% endif %}
{% endblock %}
